body{
    margin: 0;
}
.hero{
    background-image:linear-gradient(rgba(32, 30, 30, 0.438),rgba(0, 0, 0, 0.747)), url(images/donation7.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 90px 30px 165px;
    
}

.help{
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    
}
#txt1{
    text-transform: uppercase;
    font-weight: 900;
    font-size: 50px;
}
#txt2{
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 0 200px;
    font-size: 13px;
    line-height: 18px;
}

.btn{
   display: flex;
   justify-content: center;
}
.btn1{
    background-image: -webkit-linear-gradient(rgb(169, 60, 241), rgb(224, 20, 173));
 
    border: solid;
    color: white;
    padding: 20px 35px;
    text-align: center;
    text-decoration: none;
    border-radius: 7px;
    font-size: 18px;
  
}
.btn1:hover 
{
    background-image:-webkit-linear-gradient(rgb(13, 141, 192), rgb(121, 20, 107));
}

.headline{
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 100px;
    color: #020305;
    font-weight: 700;
    font-size:45px ;
}

.small-line{
    color: #020305;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

    font-size: 16px;
    line-height: 22px;
}

.box1{
   
    display: inline-flex;
    padding: 75px;
    align-items:center;
    margin-left: 150px;


}
.box2{
    background-color: rgba(196, 192, 188, 0.24);
    text-align: center;
    font-weight: 800;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    width: 85px;
    margin: 5px;
    height: auto;
    border: 3px solid rgba(168, 102, 72, 0);
    border-radius: 15px;
    padding: 38px 40px;


}
.box-bg{
    background-color: rgb(218, 108, 150);
}

#input{
    justify-content: center;
    display: flex;
}

input[type=text]{
    justify-content: center;
    width: 40%;
    padding:10px;
    border-color: rgba(255, 250, 240, 0);
    border-bottom: 2px solid rgb(46, 27, 221);
    margin-bottom: 10px;
}
#btn2{
    justify-content: center;
    display: flex;
    
}

.strategy-box{
    display: flex;
    justify-content: center;
    margin:30px 250px;
}
.strategy{
    display: inline-block;
justify-content: center;
background-color: beige;
width: 30%;
height: 200px;
padding: 30px;
margin: 10px;

}

.strategy img{
    margin: auto;
    width: 50px;
    height: 10vh;
    display: flex;
}

.strategy h3{
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.strategy p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

.help-area{
    margin-top: -90px;
    display: flex;
  

}

#donation1{
   
    width: 50%;
 
}
#donation{
    width: 50%;
    padding-top: 100px;
    padding-right: 0px;
 
}
.footer{
    background-color: rgb(8, 5, 37);
    color: rgb(243, 89, 0);
    text-align: center;
    font-family: 'Merriweather', serif;
    padding: 30px;
    margin-top: 150px;
}
.footer h5{
    color: aliceblue;
    font-weight: 300;
    font-family: monospace
}

.form-name{
    background-color: antiquewhite;
    display: flex;
    padding-bottom: 75px;
    padding-top: 50px;
    margin-left: 290px;
    margin-right: 275px;
    justify-content: center;
    border: 0px solid black;

}

.contact-form{
    margin: auto;
    width: 70%;
    padding-left: 20px;
    
  
}
#subscribe-btn{
    width: 50%;
    margin-left:0;

}
.input-field{
    width: 300px;
    height: 40px;
    margin-top: 20px;
    float: right;
    border: 2px solid rgb(255, 94, 0);
}

.btn2{
    display: inline-flex;
    padding: 15.5px 40px;
    color: aliceblue;
    align-items:center;
   
    margin-top: 20px;
    background-color: rgb(255, 72, 0);
    border: 0 solid white;
    position:absolute;
}